{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>shop | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/../../static/css/base.css' %}">
    {% block head %} {% endblock %}
</head>

<body>
    {% include 'partials/../partials/header.html' %}
    {% include 'partials/../partials/navigation.html' %}
    {% block content %} {% endblock %}
    {% include 'partials/../partials/footer.html' %}
</body>
</html>